<div class="row">
    <div class="col-12">
        <h4 class="d-inline">{{bio}}</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6" *ngFor ="let item of myImages">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="{{item.urls.full}}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{item.description}}</h4>
                        <p class="card-text">{{item.description}}</p>
                        <a href="{{item.user.links.html}}" class="btn btn-primary">Go to photo</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->