<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">On the road to understand Microservices and demonstrate the concept with Clean Architecture</h3>
                <h6 class="card-subtitle">Microservices</h6>
                <ngb-tabset>
                  <ngb-tab title="Introduce">
                    <ng-template ngbTabContent>
                      <p class="p-t-20">After several years in the software development and be a part of out sourcing service company. I have been working in some projects related with complex domain business, from small size to big size with simple or complex architecture. From this article, I will share with you about what I am understanding and some experiences during time I have worked.I prefer that you have understood about Domain Driven Design (DDD), aggregate, aggregate root …some key ideas for analyzing the domain business.
                        Okay, first thing we will talk about the microservice architecture.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                    <ng-template ngbTabTitle><b>Cont</b></ng-template>
                    <ng-template ngbTabContent>
                      <p class="p-t-20">For the first time when I heard about “microservice”, I thought that there is a small service only serving one purpose in the application. Yup … that ‘s my firstly idea about “microservice”. And after more than two years with microservice architecture, from the basic to advance I see that it ‘s not simple like that.
                        Each microservice will be alive single without any coupling in other domain service. From my experience, if we follow microservice we shouldn’t develop the “Core application” for the whole our application or something like that because of that mindset will depend on “Core”, it will make us breaking service more difficultly in the feature.
                        Microservice can be built by any techniques, platform with any structure, layer … depend on the requirement, ability of team. Some new concept like serverless framework is available from Cloud service support very good for microservice architecture like AWS Lamda or Azure Function.
                        Example we have to develop the payment solution. We can have payment service using .NET technology, order service using Node JS technology. Each service will stand alone and communicate each other by event message or make the request to other service directly.
                        And if there is one service go down for any reason, the other still can be alive. With the modern style of deployment using cloud service, we can scale the service easily depend the demand or traffic.
                        Okay told too much about the concept … let ‘s continue with approach.</p>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
  			</div>
        </div>
    </div>
</div>