<div class="row">
    <div class="col-12 m-t-30">
        <h4 class="m-b-0">Blog</h4>
        <p class="text-muted m-t-0 font-12">Technical blog 's spot</p>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-inverse">
            <div class="card-header">
                <div class="row">
                    <h4 class="m-b-0 col-md-6 text-white">Microservice</h4>
                    <h4 class="m-b-0 col-md-6 text-white btn-remove">X</h4>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">MICROSERVICES COMMUNICATION: HOW TO SHARE DATA FOR SUCCESS</h3>
                <p class="card-text">For some, the ideal picture of a modern application is a collection of microservices that stand alone. This perfect design isolates each service with a unique set of messages and operations.</p>
                <a href="https://scalyr.com/blog/microservices-communication-how-to-share-data-between-microservices" target="blank" class="btn btn-primary">Go </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-info">
            <div class="card-header">
                <div class="row">
                    <h4 class="m-b-0 col-md-6 text-white">Card Title</h4>
                    <h4 class="m-b-0 col-md-6 text-white btn-remove">X</h4>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-primary">
            <div class="card-header">
                    <div class="row">
                            <h4 class="m-b-0 col-md-6 text-white">Card Title</h4>
                            <h4 class="m-b-0 col-md-6 text-white btn-remove">X</h4>
                        </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-danger">
            <div class="card-header">
                <div class="row">
                    <h4 class="m-b-0 col-md-6 text-white">Card Title</h4>
                    <h4 class="m-b-0 col-md-6 text-white btn-remove">X</h4>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-warning">
            <div class="card-header">
                <div class="row">
                    <h4 class="m-b-0 col-md-6 text-white">Card Title</h4>
                    <h4 class="m-b-0 col-md-6 text-white btn-remove">X</h4>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-success">
            <div class="card-header">
                <div class="row">
                    <h4 class="m-b-0 col-md-6 text-white">Card Title</h4>
                    <h4 class="m-b-0 col-md-6 text-white btn-remove">X</h4>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-outline-success">
            <div class="card-header">Action
            </div>
            <div class="card-body">
                <div class="row">
                    <button class="col-md-3  btn btn-danger">Cancel</button>
                    <span href="#" class="col-md-6"></span>
                    <button class="col-md-3  btn btn-success" (click)="add()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>