<div class="row">
    <div class="col-12 m-t-30">
        <h4 class="m-b-0">Card styles</h4>
        <p class="text-muted m-t-0 font-12">Cards include various options for customizing their backgrounds, borders,
            and color.<code>.card-primary info, warning, danger</code></p>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-inverse">
            <div class="card-header">
                <div class="row">
                        <h4 class="m-b-0 col-md-6 text-white">Card Title</h4>
                        <h4 class="m-b-0 col-md-6 text-white float-right">Remove</h4>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-warning">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-outline-success">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Card Title</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-inverse">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-outline-success">
            <div class="card-header">
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-inverse">Add</a>
            </div>
        </div>
    </div>
</div>