<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Blogs</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #myform="ngForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row content-wrap">
        <div class="col-md-3">
          <span>Title: </span>
        </div>
        <div class="col-md-9">
          <input class="input-content" type="text" name="title" formControlName="title">
        </div>
      </div>
      <div class="row content-wrap">
        <div class="col-md-3">
          <span>Text: </span>
        </div>
        <div class="col-md-9">
          <input class="input-content" type="text" name="text" formControlName="text">
        </div>
      </div>
      <div class="row content-wrap">
        <div class="col-md-3">
          <span>Link: </span>
        </div>
        <div class="col-md-9">
          <input class="input-content" type="text" name="link" formControlName="link">
        </div>
      </div>
      <div class="row content-wrap">
        <div class="col-md-3">
          <span>Category: </span>
        </div>
        <div class="col-md-9">
          <input class="input-content" type="text" name="categoryId" formControlName="categoryId">
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" type="submit" class="btn btn-outline-dark">Save</button>
        </div>
    </form>
  </div>
</ng-template>

<button class="col-md-12  btn btn-success" (click)="open(content)">Add</button>